* {
    padding: 0;
    margin: 0;
    
  }

body {
    background: #f8edeb;
}
/* .body {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    min-height: 100%;
   
} */
.h1 {
    font-size: 50px;
    padding-bottom: 10px;
    color: #03045E;
}

#card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: fit-content;
    border-radius: 0;
    color: #414655;
    padding: 20px;
    background: #d8e2dc;
    margin-bottom: 20px;
}