* {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #03045E;
  font-size: 30px;
  background: #CAF0F8;
  
}

.navlinks a {
  margin-left: 10px;
  color: #03045E;
  text-decoration: none;
  font-size: 20px;

}

.navlinks a:hover {
  color: white;
  
}

.footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  height: 10%;
  width: 100%;
  background: #CAF0F8;
  
}

.icon {
  
  text-decoration: none;
  color: #03045E;
  font-size: 50px;
  margin-top: 20px;
}

.icons {
  margin-top: 20px;
  
}

.iconDiv {
  display: flex;
  justify-content: space-around;
}