* {
  padding: 0;
  margin: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 4rem;    /* Footer height */
  
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;            /* Footer height */
  background: #d8e2dc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #03045E;
  font-size: 30px;
  background: #d8e2dc;
  
}

.navlinks a {
  margin-left: 10px;
  color: #03045E;
  text-decoration: none;
  font-size: 20px;

}

.navlinks a:hover {
  color: white;
  
}


.icon {
  
  text-decoration: none;
  color: #03045E;
  font-size: 50px;
  /* margin-top: 20px; */
}

.icons {
  margin-top: 15px;
  
}

.iconDiv {
  display: flex;
  justify-content: space-around;
}