* {
    padding: 0;
    margin: 0;
    
  }

body {
    background: #f8edeb;
   
}
.body {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    min-height: 100%;
   color: white;
}
.h1 {
    font-size: 50px;
    padding-bottom: 10px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: fit-content;
    border-radius: 10px;
    color: #03045E;
    padding: 20px;
    background: #CAF0F8;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.input {
    padding: 10px;
    margin: 10px;
}